<div class="row">
  <div class="large-3 columns">
    <h1><%= image_tag "http://i.onionstatic.com/avclub/5398/43/16x9/960.jpg" %></h1>
  </div>
  <div class="large-9 columns">
    <ul class="button-group">
        <%= link_to "Home", root_path, class: "button" %>
        <a class="button" href="https://github.com/johnwi1453/odin-flight-booker">Source Code</a>
    </ul>
  </div>
</div>